{% extends "university/university-base.html" %}

{% block title %}Students{% endblock title %}

{% block content %}

    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'universityDashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Students</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i>
                        Download</a>
                    <a href="{% url 'universityAddStudents' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h3>Financially Challenged Students</h3>
                            {% include 'includes/alerts.html' %}
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>Student ID</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Phone Number</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in all_students %}
                                    <tr>
                                        <td>{{student.student_id}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'student_detail' student.id %}" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img rounded-circle" src="{{student.profile_picture.url}}" alt="User Image">
                                                </a>
                                                <a href="{% url 'student_detail' student.id %}">{{student.full_name}}</a>
                                            </h2>
                                        </td>
                                        <td>{{student.gender}}</td>
                                        <td>{{student.phone_number}}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'student_detail' student.id %}"
                                                    class="btn btn-sm bg-success mr-2">
                                                    <i class="fas fa-eye"></i> View
                                                </a>
                                                <a href="#"
                                                    class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i> Edit
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}