{% extends "base.html" %}
{% load static %}


{% block content %}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %})">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="{% static 'images/shapes/page-header-shape-1.png' %}" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="{% static 'images/shapes/page-header-shape-2.png' %}" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="{% static 'images/shapes/page-header-shape-3.png' %}" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><span>/</span></li>
                <li>Reset Password</li>
            </ul>
            <h2>Reset Your Password</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<section class="login-register">
    <div class="container">
        <div class="login-register__warning">
            Please enter the new Password and Confirm it.
        </div><!-- /.login-register__warning -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form class="login-register__form" action="{% url 'reset_password' %}" method="post">
                    {% csrf_token %}
                    <div class="contact-form__input-box">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Set new Password*">
                    </div><!-- /.contact-form__input-box -->
                    <div class="contact-form__input-box">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password" placeholder="Confirm new Password*">
                    </div><!-- /.contact-form__input-box -->
                    <div class="login-register__info">
                        <button type="submit" class="thm-btn login-register__btn">Submit</button>
                        <!-- /.login-register__text -->
                    </div><!-- /.d-flex -->
                </form>
            </div>
            <!-- /.col-lg-6 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.login-register -->

{% endblock  %}