{% extends "base.html" %}


{% block content %}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li>Contact</li>
            </ul>
            <h2>Contact</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Contact One Start-->
<section class="contact-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Contact with us</span>
            <h2 class="section-title__title">Feel free to write us <br> anytime</h2>
        </div>
        <div class="contact-one__form-box">
            <form autocomplete="off" action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated" novalidate="novalidate">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Your Name" name="name">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="email" placeholder="Email Address" name="email">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Phone" name="phone">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Subject" name="subject">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="contact-form__input-box text-message-box">
                            <textarea name="message" placeholder="Write a Message"></textarea>
                        </div>
                        <div class="contact-form__btn-box">
                            <!-- <input type="submit" class="thm-btn contact-form__btn" value="Send a Message"> -->
                            <button type="submit" class="thm-btn contact-form__btn">Send a Message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--Contact One End-->

<!--Address Start-->
<section class="address">
    <div class="container">
        <div class="row">
            <!--Address Single Start-->
            <div class="col-xl-4 col-lg-4">
                <div class="address__single">
                    <div class="address__title-box">
                        <h4 class="address__title">About</h4>
                        <div class="address__icon">
                            <span class="icon-entrepreneur-1"></span>
                        </div>
                    </div>
                    <p class="address__text">We close critical gap in supporting financially strained students across various universities.</p>
                </div>
            </div>
            <!--Address Single End-->
            <!--Address Single Start-->
            <div class="col-xl-4 col-lg-4">
                <div class="address__single">
                    <div class="address__title-box">
                        <h4 class="address__title">Address</h4>
                        <div class="address__icon">
                            <span class="icon-location"></span>
                        </div>
                    </div>
                    <p class="address__text">Nile University of Nigeria. <br> 2C93+J95, Nile St, Abuja 900108, <br>
                        Federal Capital Territory</p>
                </div>
            </div>
            <!--Address Single End-->
            <!--Address Single Start-->
            <div class="col-xl-4 col-lg-4">
                <div class="address__single">
                    <div class="address__title-box">
                        <h4 class="address__title">Contact</h4>
                        <div class="address__icon">
                            <span class="icon-contact"></span>
                        </div>
                    </div>
                    <p class="address__text">
                        <a href="tel:9288006780" class="address__number">+234 810 385 8419</a>
                        <a href="mailto:needhelp@qrowd.com" class="address__email">needhelp@qrowd.com</a>
                        <a href="mailto:info@qrowd.com" class="address__email">info@qrowd.com</a>
                    </p>
                </div>
            </div>
            <!--Address Single End-->
        </div>
    </div>
</section>
<!--Address End-->

<!--Google Map Start-->
<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.489587571213!2d7.400899575827079!3d9.019023589143378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e731de98144ff%3A0x5c6489d93f9ece83!2sNile%20University%20of%20Nigeria!5e0!3m2!1sen!2sng!4v1712356112759!5m2!1sen!2sng" class="google-map__one" allowfullscreen=""></iframe>
</section>
<!--Google Map End-->

{% endblock content %}