{% extends "base.html" %}

{% block content %}
<script src="https://js.paystack.co/v1/inline.js"></script>
<!--Similar Project Start-->
<section class="similar-project">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Confirm Donation</span>
            <h2 class="section-title__title">
                You are about to Donate 
                <br> 
                &#8358;{{donation.amount}}
                <br>
                TO<br>
                {{donation.students}}
            </h2>
            <br>
            <div class="changing-one__inner">
                <button type="submit" class="thm-btn login-register__btn" onclick="payWithPaystack()" id="django-paystack-button">Proceed</button>
            </div>
        </div>
    </div>
</section>
<!--Similar Project End-->


<script>
    function payWithPaystack(){
        let currency = "NGN";
        let plan = "";
        let ref = "{{ donation.ref }}"
        let obj = {
            key: "{{ paystack_public_key}}",
            email: "{{ donation.user.email }}",
            amount: "{{ donation.amount_value }}",
            ref: ref,
            callback: function(reponse){
                window.location.href = "{% url 'verify-payment' donation.ref %}";
            }
        }

        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }

        if (Boolean(plan)){
            obj.plan = plan;
        }

        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
      
</script>
{% endblock  %}