{% extends "base.html" %}
{% load static %}


{% block content %}



<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-1.png" alt="">
    </div>
    <div class="page-header-shape-2 float-bob-y">
        <img src="assets/images/shapes/page-header-shape-2.png" alt="">
    </div>
    <div class="page-header-shape-3 float-bob-x">
        <img src="assets/images/shapes/page-header-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><span>/</span></li>
                <li>University</li>
            </ul>
            <h2>{{university.university_name}}</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Project Details Top Start-->
<section class="project-details-top">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="project-details-top__right">
                    <h3 class="project-details-top__title">About Us</h3>
                    <p class="project-details-top__text">
                        {{university.about}}
                    </p>
                    

                    <p class="project-details-top__goal"><span>Phone Number:</span> 0899908765</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="project-details-top__left">
                    <div class="project-details-top__img">
                        <img src="{{university.university_logo.url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Project Details Top End-->

<!--Project Page One Start-->
<section class="project-page-one mb-5" id="compaigns">
    <div class="container">
        <div class="project-one__top">
            <div class="section-title text-center">
                <span class="section-title__tagline">close the gap</span>
                <h2 class="section-title__title text-capitalize">Our financially challenged <br> students </h2>
            </div>
        </div>
        <div class="row">
            <!--Project One Single Start-->
            {% for student in students %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <a href="{% url 'studentDetails' student.id %}" class="project-one__single">
                    <div class="project-one__img-box">
                        <div class="project-one__img">
                            {% if student.user.profile_picture %}
                            <img src="{{student.user.profile_picture.url}}" alt="" style="width: 100%; height: 300px;">
                            {% else %}
                            <img src="{% static 'images/User.jpg' %}" alt="" style="width: 100%; height: 40%;">
                            {% endif %}
                        </div>
                    </div>
                    <div class="project-one__content">
                        <div class="project-one__tag">
                            <p>{{student.student_university.short_name}}</p>
                        </div>
                        <h3 class="project-one__title text-capitalize"><a class="text-capitalize" href="{% url 'studentDetails' student.id %}">{{student.full_name|truncatechars:20}}</a></h3>
                        <div class="project-one__remaing">
                            <div class="icon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <div class="text">
                                <p>{{ student.created_at|timesince:student.payment_deadline }} Remaining</p>
                            </div>
                        </div>
                        <div class="project-one__goals">
                            <p class="project-one__goals-one">Achieved:<span>&#8358;{{student.amount_raised}}</span></p>
                            <p class="project-one__goals-one">Goal:<span>&#8358;{{student.financial_need}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!--Project One Single End-->
            <br>
            {% if students_campaign.count > 6 %}
            <div class="changing-one__inner">
                <a href="#" class="thm-btn">View All</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!--Project Page One End-->

{% endblock content %}